# Sensible Konfigurationsdatei mit API Schlüssel für OpenAI
config.ini
# Private API für Google Cloud
rakscribe-0ff1ffd128a1.json

# allfälliges
*.json
*.ini
dist/
build/
*.spec

# PyInstaller Artefakte
*.exe
__pycache__/
